SERVER_URL=http://localhost:9990

# AudioBookShelf
ABS_URL=http://your-abs-host
ABS_API_KEY=your-abs-api-key
ABS_DOWNLOAD_PATH=/audiobooks

# Prowlarr
PROWLARR_URL=http://your-prowlarr-host
PROWLARR_API_KEY=your-prowlarr-api-key

# qBittorrent
QBITTORRENT_URL=http://your-qbittorrent-host
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin
